@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Petit+Formal+Script&display=swap");
@import "../colors.css";

.coursal_container {
  width: 100%;
  height: 100%;
}
.bold_text {
  margin-top: 30px;
}
.carousel-style {
  height: 100% !important;
}
.carousel-caption {
  bottom: 150px !important;
}

.coursal_text {
  color: black;
  display: flex;
  justify-content: center;
  bottom: 180px !important;
  align-items: center;
  text-align: justify;
  z-index: 2;
}
.text {
  font-size: 42px;
  text-align: center;
  color: white;
  font-weight: bolder;
  text-transform: uppercase;
  font-family: "Josefin Sans", sans-serif;
  text-shadow: 2px 2px black;
}
.textby {
  font-family: "Petit Formal Script", cursive;
  font-size: 1.7rem;
  text-transform: capitalize;
  text-align: center;
  color: white;
  font-weight: 200;
}
.buttonArea {
  bottom: 100px !important;
}
.btnCou {
  padding: 20px 20px 18px 20px;
  display: inline-block;
  font-weight: 200;
  min-width: 156px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: white;
  background-color: var(--primary);
  border: 0;
  transition: all ease-in-out 0.3s 0s;
}
.btnCou:hover {
  background-color: #3b3f3f;
}
.slider-item-div {
  padding: 20px;
  text-align: center;
  height: 100%;
  width: 100%;
}

.images {
  display: block;
  width: 100%;
  height: 500px;
  object-fit: cover;
  background: black;
  filter: brightness(40%);
}

/* Section 3 */
.section_3 {
  width: 100%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #f8f8f8;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  margin-bottom: 5px;
}
.imgstory {
  height: 60px;
  margin-top: 40px;
  margin-bottom: 5px;
}
.title_story {
  text-transform: uppercase;
  font-size: 2.1rem;
  font-weight: 400;
  line-height: 1.4;
  color: var(--primary);
  letter-spacing: 1.2px;
}
b {
  font-size: 16px;
  text-align: left;
  color: rgb(68, 63, 63);
}
p {
  margin-bottom: 0.3rem;
  max-width: 750px;
  color: #3b3f3f;
  text-align: justify;
  font-size: 15px;
}
.paragraph {
  max-width: 940px;
  line-height: 1.7;
  color: #3b3f3f;
  font-weight: 500;
  font-size: large;
}
.paragraph p {
  font-family: Merriweather, serif;
  line-height: 1.8rem;
}

/* Section 4 */
.section_4 {
  width: 100%;
  max-width: 1800px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0px;
  padding-right: 0px;
  display: flex;
  justify-content: flex-start;
  margin-top: 15px;
}
.imgleft {
  width: auto;
  height: 500px;
  object-fit: cover;
}

.section_4_left_div {
  margin-top: 5px;
  height: 100%;
  width: 120%;
  margin-right: 15px;
  display: flex;
  justify-content: center;
}
.text_section_4_head {
  font-size: larger;
  letter-spacing: 1.2px;
  font-weight: 800;
  width: 100%;
  text-transform: uppercase;
}
.headertitle {
  color: var(--primary);
  font-weight: 600;
  text-align: center;
  font-size: 18px;
  font-family: Merriweather, serif;
}
.right_div_text_sec4 {
  color: #565555;
  font-size: 16px;
}

.section_4_right_div {
  display: flex;
  width: 80%;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 5px 24px 24px 24px;
}
/**/
.section_5 {
  width: 100%;
  max-width: 1800px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0px;
  padding-right: 0px;
  display: flex;
  justify-content: flex-start;
  margin-top: 15px;
}
.imgright {
  width: auto;
  height: 500px;
  object-fit: cover;
}
.section_5_left_div {
  margin-top: 5px;
  height: 100%;
  width: 80%;
  margin-right: 0px;
  display: flex;
  justify-content: center;
}
.text_section_5_head {
  font-size: larger;
  width: 100%;
  letter-spacing: 1.2px;
  font-weight: 800;
  text-transform: uppercase;
}

.right_div_text_sec5 {
  color: #565555;
  font-size: 16px;
}

.section_5_right_div {
  display: flex;
  width: 120%;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 24px 24px 24px 24px;
}
/*  */
.strip {
  background-color: var(--primary);
  width: 100%;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  color: #fff;
  padding: 20px 0;
  margin-bottom: 2rem;
  margin-top: 2rem;
}
.strip_container {
  display: flex;
  padding-left: 20px;
  margin-left: 160px;
  max-width: 1200px;
}

.smallicon {
  width: auto;
  height: 80px;
  filter: invert(7%) sepia(100%) saturate(3%) hue-rotate(900deg) brightness(94%)
    contrast(2000%);
}
.strip_left_text {
  margin-left: 30px;
}
.strip_left_text p,
.strip_left_text h3 {
  color: white;
}
.pr {
  word-spacing: 3px;
  padding-top: 8px;
  font-weight: 500;
  font-size: 20px;
  font-family: "Merriweather", serif;
}
.callpr {
  font-size: 25px;
  text-shadow: 2px 2px black;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  font-weight: 600;
  font-family: "Josefin Sans", sans-serif;
}

/* */

.catering_section {
  background: url(../GalleryPhotos/spice-village-experience.jpg) no-repeat fixed
    center;
  height: 700px;
  color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-bottom: 14rem;
}
.catering_section .container {
  width: 100%;
  max-width: 980px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}
.container_text_h1 {
  font-size: 7.2rem;
  margin-bottom: 1.5rem;
  font-weight: 400;
  text-transform: uppercase;

  text-align: center;
  color: white;
  font-weight: bolder;
  text-transform: uppercase;
  font-family: "Josefin Sans", sans-serif;
  text-shadow: 2px 2px black;
}

.container_text_p {
  font-family: "Petit Formal Script", cursive;
  text-shadow: 2px 2px black;
  color: white;
  text-align: center;
  font-weight: 600;
  max-width: 940px;
  text-align: center;
  font-size: 1.7rem;
}
.floating_goldbar {
  bottom: -200px;
  background: var(--primary);
  color: #fff;
  padding: 5rem 0 5rem 0;
  margin: 0 auto;
  width: 100%;
  max-width: 1170px;
  position: absolute;
  bottom: -110px;
  text-align: left;
  left: 0;
  right: 0;
}
.goldbar_container {
  max-width: 980px;
  width: 100%;
  max-width: 980px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}
.floating_goldbar h2 {
  text-align: center;
  width: 100%;
  margin: 0;
  line-height: 1.4rem;
  text-shadow: 2px 2px black;
  margin-bottom: 1rem;
  text-transform: uppercase;
  font-weight: 600;
}
.golhead {
  word-spacing: 1px;
  letter-spacing: 2px;
  font-weight: 800;
  font-size: 2.5rem;
  font-family: "Josefin", sans-serif;
}
.exppra {
  max-width: 940px;
  text-shadow: 1px 1px gray;
  font-size: 1.2rem;
  font-family: "Josefin", sans-serif;
  color: white;
  font-weight: 500;
}
.btn_exp {
  background-color: #fff;
  padding: 20px 20px 18px 20px;
  text-align: center;
  display: inline-block;
  font-weight: 700;
  min-width: 156px;
  letter-spacing: 1px;
  font-size: 1.2rem;
  color: #3b3f3f;
  cursor: pointer;
  border: none;
  text-transform: uppercase;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.624);
  transition: ease-in-out 0.3s;
}
.btn_exp:hover {
  color: var(--primary);
  background-color: black;
}
.btnwrap {
  text-align: center;
  position: absolute;
  bottom: -43px;
  margin-bottom: 20px;
  left: 0;
  right: 0;
}
.slidercontainer {
  margin-top: 100px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.sliderImg {
  display: block;
}
.sliderDiv {
  display: flex;
  width: 90%;
  justify-content: center;
  align-items: center;
}
/**/

/*  */

/*Media Queary*/
@media (min-width: 2000px) {
  .section_3 {
    max-width: 1500px;
  }

  .paragraph {
    max-width: 900px;
  }
  .pr {
    font-size: 30px;
  }
  .callpr {
    font-size: 30px;
  }
  .paragraph p {
    line-height: 2.4rem;
    font-size: 25px;
    max-width: 1000px;
  }
  .paragraph b {
    font-size: 26px;
  }
  .section_3 b {
    font-size: 30px;
  }
  .section_4 {
    max-width: 2500px;
  }
  .section_4 p {
    font-size: 24px;
  }
  .section_4 .text_section_4_head b {
    font-size: 24px;
  }
  .section_5 {
    max-width: 2200px;
  }
  .section_5 p {
    font-size: 24px;
  }
  .section_5 .text_section_5_head b {
    font-size: 28px;
  }
  .strip {
    max-width: 1850px;
  }
  .floating_goldbar {
    max-width: 1900px;
  }
  .container_text_p {
    font-size: 40px;
    margin-bottom: 500px;
  }
  .exppra {
    font-size: 2rem;
  }
  .section_4_left_div {
    max-width: 1400px;
  }
  .imgleft {
    height: 700px;
  }
  .imgright {
    height: 700px;
  }
  .catering_section {
    height: 900px;
  }
}

/* @media (min-width: 1200px) {
  .section_4_left_div {
    width: 59%;
  }
} */

@media (max-width: 1190px) {
  .section_4_left_div {
    width: 60%;
  }
  .section_4 {
    flex-direction: column;
  }
  .section_4_left_div {
    width: 100%;
  }
  .imgleft {
    object-fit: cover;
  }
  .section_4_right_div {
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .section_5 {
    flex-direction: column-reverse;
  }
  .section_5_left_div {
    width: 100%;
  }
  .section_5_right_div {
    width: 100%;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 800px) {
  .section_4 {
    flex-direction: column;
  }
  .section_4_left_div {
    width: 100%;
    margin-left: -15px;
  }
  .section_4_right_div {
    width: 100%;
  }
  .section_5 {
    flex-direction: column-reverse;
  }
  .section_5_left_div {
    width: 100%;
    margin-right: -20px;
  }
  .section_5_right_div {
    width: 100%;
  }
}

@media (max-width: 640px) {
  .section_4_left_div {
    overflow: hidden;
  }
  .section_5_left_div {
    overflow: hidden;
  }
  .strip_container {
    margin-left: 0;
  }
  .pr {
    font-size: 13px;
  }
  .callpr {
    font-size: 14px;
    word-break: break-all;
  }
  .catering_section .container {
    padding-bottom: 370px;
  }
  .container_text_h1 {
    font-size: 55px;
  }
  .container_text_p {
    font-size: 25px;
  }
  .golhead h2 {
    font-size: 35px;
  }
  .exppra {
    font-size: 1.1rem;
    padding-top: 10px;
  }
  .floating_goldbar h2 {
    line-height: 2.7rem;
  }
}

@media (max-width: 480px) {
  .section_4_left_div {
    overflow: hidden;
  }
  .section_5_left_div {
    overflow: hidden;
  }
  .strip_container {
    margin-left: 0;
  }
  .pr {
    font-size: 13px;
  }
  .callpr {
    font-size: 14px;
    word-break: break-all;
  }
  .catering_section .container {
    padding-bottom: 370px;
  }
  .container_text_h1 {
    font-size: 55px;
  }
  .container_text_p {
    font-size: 25px;
  }
  .golhead h2 {
    font-size: 35px;
  }
  .exppra {
    font-size: 1.1rem;
    padding-top: 10px;
  }
  .floating_goldbar h2 {
    line-height: 2.7rem;
  }
  .text {
    font-size: 28px;
  }
  .textby {
    font-size: 20px;
  }
  .smallicon {
    height: 60px;
  }
  .strip_left_text {
    margin-left: 12px;
  }
  .container_text_p {
    font-size: 18px;
  }
  .golhead {
    font-size: 35px;
  }
  .exppra {
    font-size: 15px;
  }
}
